#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.app {
  position: relative;
  width: 100%;
}

div.header {
  width: 100%;
  height: 200px;
  border: 2px darkorchid solid;
}

div.main {
  width: 100%;
  height: 200px;
  border: 2px darkblue solid;
}

div.footer {
  width: 100%;
  height: 200px;
  border: 2px darkgreen solid;
}